<nav>
    <a href="home"> WeatherFlow</a>
    <a href="https://github.com/ShrihariMohan/WeatherFlow"> About</a>
</nav>

<main>
    <h1 class="heading"> WeatherFlow</h1>
    <p class="subHeading">A complete weather web app with forecast.</p>
    <a href="home" class="btn btn-primary">Home ></a>
</main>

<section class="row">
    <div class="card text-center col-md-8 col-lg-6 border-dark mb-3 mx-auto" style="padding:0px;">
        <div class="card-header heading">
            Plan your day ahead
        </div>
        <div class="card-body">
          <p class="card-text subHeading">Effortlessly track your weather on our app up to 48 hours into the future. 
            See where rain and storms in summer or snows in winter are 
            headed and how you’ll be impacted.</p>
        </div>
    </div>
 
</section>