
<main>
    <div class="card text-center col-md-8 col-lg-6 mx-auto" style="padding:0px;">
        <div class="card-header heading">
            WeatherFlow
        </div>
        <div class="card-body">
          <p class="card-text subHeading">A complete weather web app with forecast.</p>
          <a href="home" class="btn btn-primary">Home</a>
        </div>
    </div>
</main>

<section class="row">
    <div class="card text-center col-md-5 col-lg-5 mx-auto" style="padding:0px;">
        <div class="card-header heading">
            Plan your day ahead
        </div>
        <div class="card-body">
          <p class="card-text subHeading">Effortlessly track your weather on our app up to 48 hours into the future. 
            See where rain and storms in summer or snows in winter are 
            headed and how you’ll be impacted.</p>
        </div>
    </div>

    <div class="card text-center col-md-5 col-lg-5 mx-auto" style="padding:0px;">
        <div class="card-header heading">
            All in one web         
        </div>
        <div class="card-body">
          <p class="card-text subHeading">Gone are the days when you you had to 
              switch between multiple apps, checking to see if it’s 
              going to rain in one, only to move to another to 
              check the weather forecast, WeatherFlow puts everything at your 
              fingertips in one web app!</p>
        </div>
    </div>
 </section>


 <section class = "row"> 
    <div class="col-md-4 mx-auto subHeading">
        <p class="heading"> Features</p>
        <ul class="features">
        <li>Get weather reports for multiple locations: home, office, 
            holiday destination or business trip.</li> 
        <li>WeatherFlow’s weather reports are 
            available for 90 countries.</li>
        <li> Mark Favourite so that it always stays top of your page
            anywhere you visit.
        </li>    
        </ul>
    </div>
    <img class="col-md-6 mx-auto" src ='../../../assets/landingPage/home.png'>
</section>
<hr>
<footer >
    <section class="footer">
    <a href="https://www.linkedin.com/in/shriharimohan/"> <i class="fab fa-4x fa-linkedin icons blue"> </i></a>
    <a href="https://twitter.com/papashrihari"> <i class="fab fa-4x fa-twitter-square icons lightblue"></i></a>
    <a href="https://www.facebook.com/shriharipapa"><i class="fab fa-4x fa-facebook-square icons blue "></i></a>
    <a href="https://github.com/ShrihariMohan"><i class="fab fa-4x fa-github-square icons violet"></i></a>
    </section>
    <p class="text-center"> Made with the Help of Openweather and Ventusky</p>
</footer>