.card-container {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
  margin-top: 3px;
}

.row {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 5px 5px 5px 5px;
  background-color: white;
  
  
}
div.row {
  margin-right : 0px ;
}
.body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  justify-content: center;  
}
.card-body {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  transition: transform 0.2s ;
  background: white;
  padding-bottom: 5px;

}

.card-body:hover {
    transform: scale(1.01) ;
    padding-bottom: 5px;
    margin-top: 3px;
}

.sun {
  margin-top:5px ;
  color : yellow ;
  filter : drop-shadow(1px 1px 5px solid) ;
}

.moon {
  margin-top:5px ;
  color : rgb(194, 194, 194) ;
  filter : drop-shadow(1px 1px 5px black) ;
}

.clouddiv {
  margin-top: -30px ;

}
.clouds {
 filter : drop-shadow(1px 1px 5px #2e99e0)  ;
 color : #2e99e0 ;
 animation-name: cloudMovement;
 animation-duration: 10s;
 animation-direction: alternate;
 animation-timing-function: ease-in-out;
 animation-iteration-count: infinite;
}
.quiet {
  color: #9da0a1;
  font-weight: 80;
  font-size: 100%;
}



 @keyframes cloudMovement {
  from {margin-left :-55px ; }
  to { margin-right :-55px ;}
 }

 .close-icon  {
  color :rgb(99, 98, 98) ;
  cursor: pointer;

 }

.heart-icon {
  cursor: pointer;
}



@media only screen and (max-width: 250px) {
  .body {
  margin-left:0%;
  margin-right: 0%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-wrap: wrap;
  /* padding: 1.25rem; */
  }
}





