<div class="setBack">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Hi there , Welcome to WeatherFlow!</h4>
            <form #myform="ngForm" (ngSubmit)="loginUser()" class="form form-sigin">

              <small class="text-danger"> {{msg}} </small>
              <div class="form-label-group">
                <label for="register-email">Email</label>
                <input name="email" id="register-email" class="form-control" type="email" placeholder="Email"
                  [(ngModel)]="user.mail" required #mail="ngModel" [class.is-invalid]='mail.invalid && mail.touched'
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              </div>
              <br>
              <div class="form-label-group">
                <label for="register-password">Password</label>
                <input name="password" id="register-password" class="form-control" type="password"
                  placeholder="Password" [(ngModel)]="user.password" required #pwd="ngModel"
                  [class.is-invalid]='pwd.invalid && pwd.touched'>
              </div>
              <br>
              <div>
                <button type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Register"
                  [disabled]="!myform.form.valid"> Let's go </button>
              </div>
              <br>  
              <a href="/new" class="btn btn-lg btn-primary btn-block"> I'am New </a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>